apiVersion: v1
kind: Service
metadata:
  name: locust-master
  namespace: loadtest
  labels:
    app: locust
    role: master
spec:
  type: ClusterIP
  selector:
    app: locust
    role: master
  ports:
  - name: web
    port: 8089
    targetPort: 8089
  - name: master
    port: 5557
    targetPort: 5557
  - name: master-bind
    port: 5558
    targetPort: 5558
  - name: prometheus
    port: 9646
    targetPort: 9646
